<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <title><%= acao %> Empresa</title>
</head>
<body>

    <h1><%= acao %> Empresa</h1>

    <a href="/empresas">Voltar para a Lista</a>
    <hr>

    <% if (erro) { %>
        <p style="color: red;"><%= erro %></p>
    <% } %>

    <form action="<%= rota %>" method="POST">

        <label>Nome da Empresa:</label><br>
        <input type="text" name="nome" value="<%= empresa ? empresa.nome : '' %>" required maxlength="80">
        <br><br>

        <label>Cidade:</label><br>
        <input type="text" name="cidade" value="<%= empresa ? empresa.cidade : '' %>" required maxlength="45">
        <br><br>

        <label>Estado:</label><br>
        <input type="text" name="estado" value="<%= empresa ? empresa.estado : '' %>" required maxlength="45">
        <br><br>

        <button type="submit">Salvar Dados</button>

    </form>

</body>
</html>